{% extends 'base.html' %}

{% load static %}


{% block content %}

<div class="page-section mb-60">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-xs-12 col-lg-6 mb-30">
                <form method="post">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ next }}">
                    <div class="login-form">
                        <h4 class="login-title">Your password has been changed</h4>
                            <a href="{% url 'login' %}">Login</a>
                        </div>
                    </div>
                </form> 
            </div>
        </div>
    </div>  
</div>  

{% endblock %}