{% extends 'base.html' %}

{% load static %}


{% block content %}
            <!-- Header Area End Here -->
            <!-- Begin Li's Breadcrumb Area -->
            <div class="breadcrumb-area">
                <div class="container">
                    <div class="breadcrumb-content">
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li class="active">Wishlist</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Li's Breadcrumb Area End Here -->
            <!--Wishlist Area Strat-->
            <div class="wishlist-area pt-60 pb-60">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <form action="#">
                                <div class="table-content table-responsive">
                                    <table class="table">
                                        {% if user.is_authenticated %}
                                        <thead>
                                            <tr>
                                                <th class="li-product-remove">remove</th>
                                                <th class="li-product-thumbnail">images</th>
                                                <th class="cart-product-name">Product</th>
                                                <th class="li-product-price">Unit Price</th>
                                                <th class="li-product-stock-status">Stock Status</th>
                                                <th class="li-product-add-cart">add to cart</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for item in wishlist %}
                                            <tr>
                                                <td class="li-product-remove"><a class="remove-from-wishlist-button" href="#"  data-product-id="{{ item.pk }}" ><i class="fa fa-times"></i></a></td>
                                                <td class="li-product-thumbnail"><a href="#"><img src="{{ item.cover_image.url }}" alt="" class="wishlist-image"></a></td>
                                                <td class="li-product-name"><a href="#">{{ item.product.name }}</a></td>
                                                <td class="li-product-price"><span class="amount">${{ item.price }}</span></td>
                                                <td class="li-product-stock-status"><span class="in-stock">in stock</span></td>
                                                <td class="li-product-add-cart"><a href="#" class="add-to-cart-button" data-product-id="{{ item.pk }}">add to cart</a></td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                            {% else %}
                                            <div style="text-align: center; font-size: 24px; margin-top: 20px;">You are not logged in. Please <a href="{% url 'login' %}" style="text-decoration: underline; color: #fed700;">log in</a> to view your items.</div>
                                            {% endif %}
                                    </table>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!--Wishlist Area End-->
            {% endblock %}
